/* BASIC PROPERTIES */
BODY {
}

#body {
    margin: 1em;
}


.title {
    padding: .5em 0em;
    margin: 0em;
    font-family: "Cabin:500",arial,helvetica,clean,sans-serif;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px #CCCCCC;
}

/* NAVIGATION */
.navigation {
    text-align: right;
}

.navigation a {
    text-decoration: none;
}

.navigation form {
    display: inline-block;
}

.logo {
    padding-left: .1em;
    font-size: 2em;
    text-decoration: none;
    color: #363d52;
    font-family: 'Cabin Sketch',arial,helvetica,clean,sans-serif;
    text-shadow: 4px 4px 4px #CCCCCC;
}

.logo .alt_logo {
    color: #333333;
    font-size: .6em;
    font-family: Cabin,arial,helvetica,clean,sans-serif;
    text-shadow: 2px 2px 2px #CCCCCC;
}


.button {
    background: #e3e3e3;
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: 12px arial,helvetica,clean,sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 2px 4px 3px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

.button:hover {
    background: #d9d9d9;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}

a.button {
    color: #333;
    text-decoration: none;
}

.actions .button {
    padding: 0px 2px;
    line-height: inherit;

}

form .button {
    font-weight: bold;
    color: #333;
}

form div {
    margin: .5em 0em;
}



/* BUTTON UI stolen from http://ubuwaits.github.com/css3-buttons/ */
.nav_button {
  background: #e3e3e3;
  border: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 10px 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
  vertical-align: bottom;
}

.nav_button:hover {
  background: #d9d9d9;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}

.nav_button:active {
  background: #d0d0d0;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000;
}

a.button_minimal {
    text-decoration: none;
}


/* FORM PROPERTIES */


/* DATA LISTS */
.data_list {
}

.data_list .col_end {
    font-weight: bold;
    text-align: right;
    align: right;
}

.buttons {
    padding: .6em 0em;
}

.data_list .bmark {
    padding: .2em;
}

div.bmark:hover {
    /* Using RGB for opacity on the background only
        hex color: (#9AFEB)
    */
    background-color: rgba(155, 175, 235, 0.2);
}


.center {
    text-align: center;
}

.calendar {
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0px .4em;
    width: 4em;
}

.calendar * {
    font-family: "Cabin:500",arial,helvetica,clean,sans-serif;
}

.calendar h2 {
    background-color:#F00;
    background-image:-webkit-gradient( radial, 50% 50%, 0, 50% 50%, 40, from(#f44), to(#f00));
    background-image:-moz-radial-gradient(circle, #f44, #f00);
    background-image:radial-gradient(circle, #f44, #f00);
    color: #FFF;
    font-size: .9em;
    font-weight: bold;
    text-align: left;
    padding: .1em .2em;
    border: 1px solid #333;
    border-bottom-color:#999;
    margin: 0px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.calendar div {
    background-color: #CCCCCC;
    color: #000000;
    font-size: 1.3em;
    text-align: center;
    padding: .1em .2em;
    border: 1px solid #333;
    border-top:none;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}


.tags {
    padding: .3em;
    padding-left: 2em;
    font-size: .8em;
    text-align: right;
}

a.tag {
    padding: .2em .4em .2em .4em;
    background: #DDDDDD;
    color: #666666;
    text-decoration: none;
}

a.bmark {
    font: "Cabin:500",arial,helvetica,clean,sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: #003366;
}

.bmark .time {
    text-align: right;
    font-size: .7em;
    color: #999999;
}

.body form {
}

.note {
    border: 1px solid #666;
    background: #CCC;
    padding: .5em;
}

fieldset legend {
    font-size: .9em;
    font-weight: bold;
    border-bottom: 1px solid #999;
    margin-bottom: 2em;
}

form ul {
    margin-left: 0px;
}

form li {
    list-style: none;
    margin-left: 0px;
    padding: .2em 0em;
}

form li label {
    font-weight: bold;
}

.right {
    text-align: right;
}

.footer {
    color: #666666;
    margin-top: 5em;
    font-size: .8em;
    margin-bottom: 1em;
}

.footer a {
    color: #666666;
    text-decoration: none;
}

.footer .body {
    padding-right: 1em;
}

.search {}

.search .title {
    margin-left: 1.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #333;
    padding-bottom: .1em;
    font-weight: normal;
}

.search .body {
    padding-left: 2em;
}

.tag_filter {
    margin: .5em;
}
.tag_filter .title {
}
.tag_filter input {
    width: 10em;
}

.tag_filter .item {
    background: #e3e3e3;
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font-size: 12px;
    line-height: 1;
    padding: 2px 4px 3px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

.tag_filter .item:hover {
    background: #d9d9d9;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}

.tag_filter .item a {
    color: #333;
    text-decoration: none;
}

.actions .item {
}

.actions .item a {
    text-decoration: none;
}


