/* BASIC PROPERTIES */
#body {
    margin: 1em;
}

/* NAVIGATION */
.navigation {
    text-align: right;
}

.navigation a {
    text-decoration: none;
}

.logo {
    font-size: 2em;
    text-decoration: none;
}

/* BUTTON UI stolen from http://ubuwaits.github.com/css3-buttons/ */
.button_minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 10px 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
  vertical-align: bottom;
}

.button_minimal:hover {
  background: #d9d9d9;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}

.button_minimal:active {
  background: #d0d0d0;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000;
}


/* FORM PROPERTIES */


/* DATA LISTS */
.data_list {
    width: 80%;
}

.data_list .bmark {
    padding: .2em;
}

.center {
    text-align: center;
}

.calendar {
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0px .4em;
    width: 4em;
}

.calendar h2 {
    background-color:#F00;
    background-image:-webkit-gradient( radial, 50% 50%, 0, 50% 50%, 40, from(#f44), to(#f00));
    background-image:-moz-radial-gradient(circle, #f44, #f00);
    background-image:radial-gradient(circle, #f44, #f00);
    color: #FFF;
    font-size: .9em;
    font-weight: bold;
    text-align: left;
    padding: .1em .2em;
    border: 1px solid #333;
    border-bottom-color:#999;
    margin: 0px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.calendar div {
    background-color: #CCCCCC;
    color: #000000;
    font-size: 1.3em;
    text-align: center;
    padding: .1em .2em;
    border: 1px solid #333;
    border-top:none;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}


.tags {
    padding: .3em;
    padding-left: 2em;
    font-size: .8em;
    text-align: right;
}

a.tag {
    padding: .2em .4em;
    border: 1px solid #666666;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #CCCCCC;
    color: #333333;
    text-decoration: none;
}

a.bmark {
    font-size: 1.1em;
    text-decoration: none;
}

.bmark .time {
    text-align: right;
    font-size: .7em;
    font-color: #333;
}

.body form {
    padding: .5em 1em;

}

.note {
    border: 1px solid #666;
    background: #CCC;
    padding: .5em;
}

fieldset legend {
    font-size: .9em;
    font-weight: bold;
    border-bottom: 1px solid #999;
    margin-bottom: 2em;
}

form ul {
    margin-left: 0px;
}

form li {
    list-style: none;
    margin-left: 0px;
    padding: .2em 0em;
}

form li label {
    font-weight: bold;
}
