# Directories
/data
/dist
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
develop-eggs
downloads
eggs
fake-eggs
parts
.ropeproject
.hg
.bzr
.svn
.vagrant
/include
/bin
/man
/lib
/local
/share
/download-cache
/extensions/chrome_ext/lib
/docs/_build/
/bookie_index/
/bookie_test/
/bookie_mysql/
/bookie_pgsql/

# Files
*.swp
*.pyc
*.mo
.installed.cfg
*.pyo
*.tmp*
*.mp3
*.db
*~
.coverage
.noseids
ropevim.vim
*.pid
bookie.ini
celerybeat-schedule
bookie/static/js/tests/jstpl.html
bookie/static/css/base.css
bookie/static/css/responsive.css
bookie/static/rrd/
