# Directories
/data/sessions
/data/templates
/dist
/Bookie/docs/_build/
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
.ropeproject
.hg
.bzr
.svn

# Files
*.swp
*.pyc
*.mo
.installed.cfg
*.pyo
*.tmp*
*.mp3
*.db
.coverage
.noseids
/include
/bin
/man
/lib
/local
ropevim.vim
*.pid
/download-cache
/extensions/chrome_ext/lib
bookie.ini
bookie/static/
bookie_index/
celerybeat-schedule
docs/_build/
share/
