@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000357}}
body {
  font-family: 'Cabin', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000361}}
a {
  color: #003366;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000366}}
#body {
  margin: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000370}}
#readable_content {
  font-family: Garamond, serif;
  font-size: 1.5em;
  padding: 1em;
  max-width: 40em;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000380}}
  #readable_content h1 {
    border-bottom: 1px solid #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000384}}
  #readable_content code, #readable_content pre {
    font-family: Courier New, Courier, monospaced; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000388}}
  #readable_content a {
    color: #0066cc;
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000394}}
.center {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\0000398}}
.right {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003103}}
.navigation {
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003106}}
  .navigation a {
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003112}}
.logo {
  font-family: 'Cabin Sketch',arial,helvetica,clean,sans-serif;
  padding-left: .1em;
  font-size: 2em;
  text-decoration: none;
  color: #363d52;
  text-shadow: 1px 1px 0 #cccccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003120}}
  .logo .alt_logo {
    color: #333333;
    font-size: .6em;
    text-shadow: 2px 2px 2px #cccccc;
    font-family: 'Cabin', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003128}}
.footer {
  color: #666666;
  margin-top: 5em;
  font-size: .8em;
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003134}}
  .footer a {
    color: #666666;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003139}}
  .footer .body {
    padding-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003144}}
.button {
  text-align: center;
  color: #333333;
  background: #e3e3e3;
  border: 1px solid #bbbbbb;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: 12px arial,helvetica,clean,sans-serif;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px 3px;
  text-shadow: 0 1px 0 white;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003158}}
  .button:hover {
    background: #d6d6d6;
    -moz-box-shadow: inset 0 0 1px 1px #e9e9e9;
    -webkit-box-shadow: inset 0 0 1px 1px #e9e9e9;
    box-shadow: inset 0 0 1px 1px #e9e9e9;
    color: #262626;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003162}}
  .button.nav_button {
    padding: 8px 10px 9px;
    width: 150px;
    vertical-align: bottom; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003167}}
    .button.nav_button:active {
      background: #d6d6d6;
      -moz-box-shadow: inset 0 0 1px 1px #e9e9e9;
      -webkit-box-shadow: inset 0 0 1px 1px #e9e9e9;
      box-shadow: inset 0 0 1px 1px #e9e9e9;
      color: #262626;
      cursor: pointer;
      color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003176}}
.actions .item a.button {
  line-height: inherit;
  font: 12px arial,helvetica,clean,sans-serif;
  text-decoration: none;
  color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003186}}
.superblytagitems li {
  margin: 3px 3px 0px 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003191}}
a.button_minimal {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003196}}
.actions .button {
  padding: 0 2px;
  line-height: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003204}}
form div {
  margin: .5em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003208}}
form ul {
  margin-left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003212}}
form li {
  list-style: none;
  margin-left: 0px;
  padding: .2em 0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003217}}
  form li label {
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003222}}
form .button {
  font-weight: bold;
  color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003228}}
form.bmark input[type=text], form.bmark.bmark input[type="url"] {
  width: 35em;
  padding: 5px;
  border: 1px solid #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003234}}
form.bmark input[type=submit] {
  padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003238}}
form.bmark .superblyTagfieldDiv {
  display: inline-block;
  vertical-align: bottom;
  width: 34.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003243}}
  form.bmark .superblyTagfieldDiv input[type=text] {
    border: none;
    padding: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003248}}
  form.bmark .superblyTagfieldDiv li.superblyTagInputItem {
    padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003256}}
.form {
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 1em;
  padding: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003263}}
  .form label {
    width: 8em;
    text-align: right;
    display: inline-block;
    padding-right: 1em;
    font-weight: normal;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003272}}
  .form .error {
    color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003276}}
  .form .success {
    color: green; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003280}}
  .form li {
    padding: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003284}}
  .form .heading {
    font-size: larger;
    text-decoration: none;
    margin-bottom: .3em;
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003290}}
    .form .heading:hover {
      cursor: hand; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003297}}
fieldset legend {
  font-size: .9em;
  font-weight: bold;
  border-bottom: 1px solid #333333;
  margin-bottom: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003306}}
.data_list .col_end {
  font-weight: bold;
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003311}}
.data_list .buttons {
  padding: .6em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003315}}
.data_list .bmark {
  border-top: 1px solid #CCC;
  padding: .2em .2em 1em .2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003319}}
  .data_list .bmark .tags {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003323}}
  .data_list .bmark .dateinfo {
    clear: right;
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003329}}
  .data_list .bmark .actions {
    margin: .2em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003332}}
    .data_list .bmark .actions .button {
      font-size: smaller; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003339}}
.calendar {
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0px .4em;
  width: 4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003345}}
  .calendar h2 {
    background-color: red;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 40, from(#ff4444), to(red));
    background-image: -moz-radial-gradient(circle, #ff4444, red);
    background-image: radial-gradient(circle, #ff4444, red);
    color: white;
    font-size: .9em;
    font-weight: bold;
    text-align: left;
    padding: .1em .2em;
    border: 1px solid #333333;
    border-bottom-color: #333333;
    margin: 0px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003366}}
  .calendar div {
    background-color: #cccccc;
    color: black;
    font-size: 1.3em;
    text-align: center;
    padding: .1em .2em;
    border: 1px solid #333333;
    border-top: none;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003385}}
.bmark a {
  font-size: 1.1em;
  text-decoration: none;
  color: #003366; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003391}}
.bmark:hover {
  background-color: rgba(155, 175, 235, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003395}}
.bmark .url {
  color: #cccccc;
  overflow: hidden;
  white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003400}}
  .bmark .url:hover {
    color: #8c8c8c; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003405}}
.bmark .tags {
  padding: .3em;
  padding-left: 2em;
  font-size: .8em;
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003411}}
  .bmark .tags .tag {
    padding: .2em .4em .2em .4em;
    background: #e6e6e6;
    color: #737373;
    text-decoration: none;
    margin-bottom: .2em;
    display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003422}}
.dateinfo {
  color: #737373;
  font-size: .8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003427}}
.note {
  border: 1px solid #333333;
  background: #cccccc;
  padding: .5em;
  margin-top: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003435}}
.search .body {
  padding-left: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003439}}
.search .title {
  margin-left: 1.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #333333;
  padding-bottom: .1em;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003448}}
.tag_filter {
  margin: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003451}}
  .tag_filter div {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003455}}
  .tag_filter input {
    width: 25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003458}}
    .tag_filter input[type=submit] {
      width: 5em;
      min-height: 29px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003463}}
    .tag_filter input[type=checkbox] {
      width: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003468}}
  .tag_filter .item {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1;
    padding: 2px 4px 3px;
    text-align: center;
    text-shadow: 0 1px 0 white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003478}}
    .tag_filter .item:hover {
      background: #d6d6d6;
      -moz-box-shadow: inset 0 0 1px 1px #e9e9e9;
      -webkit-box-shadow: inset 0 0 1px 1px #e9e9e9;
      box-shadow: inset 0 0 1px 1px #e9e9e9;
      color: #262626;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003482}}
    .tag_filter .item a {
      color: #333333;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003488}}
  .tag_filter .superblyTagfieldDiv {
    display: inline-block;
    vertical-align: bottom;
    width: 35em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003495}}
.fullpage {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003499}}
.tabs {
  color: #333333;
  background: #e3e3e3;
  border: 1px solid #bbbbbb;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  position: relative;
  margin: 10px 0 0 0;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
  height: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003507}}
  .tabs li {
    position: relative;
    list-style: none;
    display: inline;
    height: 1.5em;
    padding: .3em 1.5em;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 0 white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003517}}
    .tabs li a {
      text-decoration: none;
      color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003522}}
    .tabs li.selected {
      background-color: white;
      border: 1px solid #cccccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rharding\/src\/bookie\/Bookie\/bookie\/static\/css\/bookie\.scss}line{font-family:\00003527}}
    .tabs li:hover {
      background-color: #cccccc;
      -webkit-transition-duration: .33s;
      -webkit-transition-property: background-color; }
