#readable_content {
    font-family: Liberation Sans, sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
    margin: auto;
    max-width: 40em;
    padding: 1em;

    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0,0,0,0.1);;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0,0,0,0.1);;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0,0,0,0.1);;

    h1 {
        border-bottom: 1px solid $darkgrey;
    }

    code, pre {
        font-family: Liberation Mono, monospaced;
        white-space: pre-wrap;
    }

    a {
        color: darken($links, 20%);
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }
}
